@font-face {
    font-family: "Poppins";
    src: url(font/Poppins-Regular.ttf);
}


html{
    font-size: 62.5%;
}

body {
    margin-top: 1.5%;
    margin-left: 5%;
    margin-right: 5%;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    background-color: var(--bs-body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

.navbar {
    /* flex-wrap: wrap; */
    width: 100%vw;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    box-sizing: border-box;
    width: 30%;
    height: 100%;

}

.search-box {
    display: flex;
    box-sizing: border-box;
    height: 100%;

}

.menu {
    box-sizing: border-box;
    display: flex;
    width: 80%;
    height: 100%;
    padding-left: 6rem;

}

.logo img {
    padding-top: 1rem;
    width: 120px;
}

.img-logo {
    width: 2rem;
    height: 2rem;
}

.search-box {
    width: 80%;
    padding-left: 2rem;
    padding-right: 1rem;
    align-items: center;
    justify-content: space-between;
    display: flex;
    background-color: #dfdcdc56;
    height: 80%;
    border-radius: 1.5rem;
}

.search-box input {
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
    outline: none;
}


.search-box img {
    position: relative;
    cursor: pointer;
}

.menu-bar {


    display: flex;
    width: 100%;
    justify-content: space-around;
    box-sizing: border-box;
    align-items: center;
}

.menu-list {
    font-size: 1.6rem;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    list-style: none;
    position: relative;
    font-family: Poppins;


}



.menu-list::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 0.3ren;
    background-color: tomato;
    left: 0;
    bottom: -5px;
    transition: 0.3s;
}

.menu-list:hover {

    font-weight: 600;
}

.menu-list:hover::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.3rem;
    background-color: tomato;
    left: 0;
    bottom: -5px;
}


/* section2 */
.btn_buy {
    display: inline;
    background-image: linear-gradient(180deg, #FF2D80, #FF589B);
    padding: 1.5rem 2rem;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    transition: 0.2s;
    color: white;
    font-weight: 600;
    letter-spacing: 0.1rem;
}

.btn_buy img {
    width: 1rem;
    position: relative;

}

.btn_buy:hover img {
    top: 0.3rem;
    width: 1.5rem;
}

.btn_buy:hover {
    padding: 1.8rem 2.5rem;
}

/* section2 */


.slide_section {
    align-items: center;
    height: 75vh;
    display: flex;
    width: 90vw;
    justify-content: space-around;
    background-color: #FEEAE9;
    border-radius: 2.5rem;
    margin-top: 3rem;
}

.s2_heading {
    box-sizing: border-box;
    width: 28%;
}
.s2_img img{
    width: 100%;
}
.s2_img {
    box-sizing: border-box;
    width: 30%;
}

.s2_heading h1 {
    font-size: 3rem;
    font-family: 'Poppins';

}

.s2_heading p {
    text-align: justify;
    font-size: 1.5rem;
    font-family: 'Poppins';
    color: #707070;
}

.s2_heading .price {
    color: #FF136F;
}




/* section3 */
.section3 {
    margin-top:6rem;
   
}
.section3 .heading{
    display: flex;
    justify-content: space-between;

}

.section3 p {
    font-size: 3rem;
    font-weight: 600;
    font-family: 'poppins';

}

.categories-sec {
    display: flex;
    width: 90vw;
    justify-content: space-between;
}
.Catagories-section h1{
    font-size: 2rem;
}
.Catagories-section {
    display: flex;
    align-items: center;
    width: 28%;
    border-radius: 1rem;
    justify-content: space-around;
    transition: 0.2s;
    font-family: 'poppins';
    color: #ffffff;
}
.Catagories-section:hover{
    transform: translate(3px,-8px);
    box-shadow: 5px 8px 15px 0px rgba(0, 0, 0, 0.4);

}
.categories-sec .c1 {
    margin-right: 3rem;
    background-image: linear-gradient(45deg, #FF9C35, #FFD019);
    width: 90%;
}

.categories-sec .c2 {
    margin-right: 3rem;
    background-image: linear-gradient(90deg, #FF589B, #FF136F);
    width: 90%;
}

.categories-sec .c3 {

    background-image: linear-gradient(70deg, #4289FF, #3F07F8);
    width: 90%;
}

/* section4? */

.s4_heading{
    display: flex;
    width: 90vw;
    justify-content: space-between;
    margin-bottom: 2.5rem;
}
.s4_heading{
    margin-top: 7rem;
}
.s4_heading h1 {
    font-size: 3rem;
    font-weight: 600;
    font-family: 'poppins';

}
.btn_sec4-1{
    border:none;
    background-color: transparent;
    color: #FF9C35;
    font-size: 2rem;
    font-family: 'poppins';
    font-weight: 500;
}
.btn_sec4-1:hover{
    text-decoration: underline;
    font-weight: 600;
}

.s4-cards{
    display: flex;
justify-content: space-between;
}
.cards{
    font-family: 'poppins';
    width: 25%;
 padding: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 1rem;
    margin-left: 2rem;
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.063);
    padding-bottom: 8rem;
    transition: 0.2s;
    
}

.cards:hover{
    transform: translate(3px,-8px);
    box-shadow: 5px 8px 15px 0px rgba(0, 0, 0, 0.1);

}
.cards img{
    width: 100%;
    transition: 0.2s;
}

.cards h1{
   
    font-size: 2.2rem;
}
.cards p{
    color: #707070;
    font-size: 1.5rem;
}

.button{
    display: flex;
    justify-content: center;
align-items: center;
    margin: auto;
    width: 50%;
    
}

.button img{
    left: 0.5rem;
    top: 0.4rem;
    position: relative;
    width: 15%;
}
.btn_s4-2{
    font-size: 1.6rem;
    color: #ffffff;
    border: none;
    border-radius: 0.5rem;
    padding: 1rem 1.7rem;
    background-color: #801010;
    font-weight: 600;
    font-family: 'poppins';
    letter-spacing: 0.1rem;
    align-items: center;
    transition: 0.2s;
   
}

.btn_s4-2:hover{
    
    font-size: 1.5rem;
    box-shadow: 5px 8px 15px 0px rgba(0, 0, 0, 0.3);
    background-color:tomato;
    font-weight: 900;
    
    
}
.btn_s4-2:hover img{
    width: 19%;
}

/* section5? */
.section5{

    margin-bottom: 10rem;
}

/* section6 */

.s6_contact{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-color: #FEEAE9;
    width: 90vw;
    height: 40rem;
    border-radius: 1.5rem;
    font-family: 'poppins';
    margin-bottom: 50px;
}
.s6_contact h1{
font-size: 4rem;
letter-spacing: 1px;
}
.s6_contact p{
    top: -4.5rem;
    position: relative;
    color: #707070;
font-size: 2rem;
letter-spacing: 1px;
}
.s6_btn input{
   
    border: none;
    padding:1.5rem 33rem 1.5rem 2rem;
    border-radius: .5rem;
    outline: none;
}

.s6_btn button{
    position: relative;
    left: -1rem;
    border: none;
    padding: 1.35rem 3rem;
    background-image: linear-gradient(180deg, #FF2D80, #FF589B);
    border-radius: 0px 5px 5px 0px;
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
transition: 0.3s ease;
}

.s6_btn button:hover{
    background: #000000;
    color: rgb(255, 255, 255);
}

footer{
   text-align: center;
}

@media(min-width:1000px) and (max-width:1200px){
    html{
        font-size: 50%;
    }
    .logo {
        width: 40%;
    }
    .slide_section {
        
        height: 60vh;
        
    }
    
}


@media(max-width:1000px){
    html{
        font-size: 40%;
    }
}

@media(max-width:800px){
    body{
        display: flex;
        flex-direction: column;
        justify-content: center;
       
    }
    html{
        font-size: 80%;
    }
    .slide_section{
        width: 100%;
        flex-direction: column;
        justify-content:center;
        height: 100%;
    }
    .s2_heading {

        width: 70%;
    }
    .s2_img {
        box-sizing: border-box;
        width: 90%;
    }

    .section3{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .section4{
        width: 100%;
        display: flex;
        flex-direction: column;
align-items: center;
justify-content: center;
    }
    .categories-sec {
       
        flex-direction: column;
        align-items: center;
        justify-content: center;
        ;
    }
    .heading{
        width: 95%;
    }
    .Catagories-section{
        width: 100%;
      
    }
    .categories-sec .c1{
        margin-right: 0;  
        padding: 30px 0px;
        margin-bottom: 40px
    }
    .categories-sec .c2{
        margin-right: 0; 
        margin-bottom: 40px;
        padding: 30px 0px;
    }
    .categories-sec .c3{
        margin: 0;
        padding: 30px 0px;
    }
    .s4-cards{
      flex-direction: column;
        width: 100%;
       
    }
    .cards{
        width: 82%;

    }
   .cards1{
    margin-bottom: 3rem;
   }
   .cards2{
    margin-bottom: 3rem;
   }
    .cards1 .img_card1{
width: 80%;
    }
    .cards2 .img_card2{
width: 80%;
    }
    .cards3 .img_card3{
width: 80%;
    }
    .btn_s4-2 img{
width: 7%;
    }
    .btn_s4-2:hover img{
        width: 10%;
    }
    .btn_s4-2{
        font-size:1.6rem;
        
        padding: 1rem 0.5rem;
       
       
       
    }
    
.menu{
    display: none;
}
.search-box{
    display: none;
}

.s6_contact{
    width: 100%;
    display: flex;
 align-items: center;
 justify-content: center;
}
.s6_btn{
display: flex;
flex-direction: column;
align-items: center;
}
.s6_contact{
    
    width: 100%;
    height: 100%;
    padding: 4rem 0rem;
}
.s6_contact h1{
font-size: 3rem;
}
.s6_contact p{
    font-size: 1.5rem;
    top: -2rem;

}
.s6_btn input{

    padding:2rem 12rem ;
    margin-bottom:2rem ;
    text-align: center;
}

.s6_btn button{
    position: static;
     border-radius: 5px ;
   
     padding: 1rem 4rem;
   
}






}

@media(max-width:600px){
    html{
       font-size: 60%; 
    }
    .s6_btn input{
        text-align: center;
                padding:2rem 11rem ;
                margin-bottom:1rem ;
               
            }
}
@media(max-width:475px){
    html{
       font-size: 60%; 
    }
    .s6_btn input{
        text-align: center;
                padding:2rem 8rem ;
                margin-bottom:1rem ;
               
            }
}
@media(max-width:380px){
    html{
       font-size: 50%; 
    }

    .s6_btn input{
text-align: center;
        padding:2rem 6rem ;
        margin-bottom:1rem ;
       
    }
}